/* Utils */

.bg-blue{
    background-color: #006CFA;
}

.bg-green{
    background-color: #00E165;
}
.white{
    color: #fff;
}

.black{
    color: #000;
}

.mb-30{
    margin-bottom: 30px;
}

/* Content */

.card{
    padding: 15px;
    min-height: 50px;
    text-align: center;
    border: 1px solid #fff;
    line-height: 18px;
}

.card-nested{
    min-height: 50px;
    line-height: 48px;
    border: 1px solid #006CFA;
}

.min-h-100{
    min-height: 100px;
}